.main {
	text-align: center;
	font-family: Helvetica;
}

.banner {
	background-image: url(../images/the-flatiron-building.png);
	background-size: 100% 100%;
	background-position: center;
	display: block;
}

.banner h1 {
	font-size: 70px;
	font-weight: bold;
	color: white;
}

.banner h2 {
	font-size: 23px;
	font-weight: bold;
	color: white;
}

.nav {
	font-size: 18px;
	text-decoration-color: white;
	color: white;
}

.content h2 {
	font-size: 32px;
	font-weight: bold;
}

.content h3 {
	font-size: 23px;
	font-weight: bold;
}

.content p {
	font-size: 14px;
}

footer {
	font-family: Helvetica;
	color: white;
	background-color: dimgray;
}

.copyright {
	font-size: 11px;
	color: white;
}